/* File: App.css
 * Student Name: Jennifer Peart
 * StudentID: 821385531
 * Due Date: September 26, 2025 */

.App {
  text-align: center;
}

.main-content {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}
